/* ************************************************************************************************
											Selector UNIVERSAL
************************************************************************************************ */

*{
	margin: 0px;
	padding: 0px;

}


/* ************************************************************************************************
											Selectores por TIPO
************************************************************************************************ */

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* Cuerpo de toda la página */
body{ width: 100%; /* Para que ocupe toda la pantalla */ }

/* Etiquetas en bloque */
header, section, footer, nav { display: block; }

h4 a{ color: #66cccc; }

h4 a:hover{
	color: #478F8F;
	text-decoration: none;
}


/***********************************************************************************************
									   Selectores por CLASE 
***********************************************************************************************/

/* Imagen corporativa */
.imgLogo{ content:url("../images/logotxiki.png"); }

/* Botón login */

.btn-login{

	cursor: pointer;
	margin: 0px;
}


/* Slider ************************************/
.slider{
	z-index: 1;
	width: 100%;
	height: 600px;
	position: absolute;
    top: 0px;
    left: 0px;
}

.headerimg {

	background-position: center top; 
	background-repeat: no-repeat; 
	width: 100%; 
	height: 600px; 
	position: absolute; 
}

.slider .btn { 

	height: 80px; 
	width: 60px; 
	float: left; 
	cursor: pointer; 
}

/* estilos para los link del menu, para que no coja bootstrap */
.link{ 

	color: #f2efef;
	padding-right: 20px;
	opacity: 0.9;
	text-decoration: none;
}

.link:hover{

	color: grey;
	text-decoration: none;

}

/* Imagen de la película */
.peli{

	position: relative;
	float: left;
	margin: 38px;
	z-index:1;
}

.text {
	font-size: 60px;
	font-family: 'Oswald', sans-serif;
    position: absolute;
    top: 0;
    color:#4D4D4D;
    background-color:rgba(255,255,255,0.8);
    width: 160px;
    height: 230px;
    padding-top:13px;
    text-align: center;
    z-index: 10;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.text:hover { opacity:0.8; }


/* Descripción de la película */
.descrip{ 

	width: 160px;
	height: 348px;
}

.descrip p{

	color: #333333;
	font-size: 13px;
}

.descrip:hover{ -webkit-transform:scale(1.05); }

/*icono animado*/
.glyphicon-refresh-animate { -webkit-animation: spinDos 1.5s infinite linear; }

@-webkit-keyframes spinDos {
    from { -webkit-transform: translate(0px,5px);}
    to { -webkit-transform: translate(0px,30px);}
}

/* Botón para ir a cartelera o próximamente */
.vermas{

	clear: both;
	float: right;
	margin-top: 0px;
	margin-right: 85px;
	cursor: pointer;	
}

.vermas:hover{ -webkit-transform:scale(1.18); }

/* Redes sociales */
.red{

	cursor: pointer;
	float: right;
	padding-right:14px;
}


/* ************************************************************************************************
											Selectores por ID
************************************************************************************************ */

/* Layout */
#container{ width: 100%; }

/* Encabezado ************************************/
#header{
	/*border: 3px solid red;*/
	position: relative;
	z-index: 2;
	display: -webkit-box; /* Chrome*/
	-webkit-box-orient: horizontal; /* encabezado en horizontal */
	height: 50px;
}


/* Menú ****************/

/* Imagen corporativa */
#logo{

	padding-left: 26px;
	padding-top: 12px;
	width: 200px;
	min-width: 100px;
	opacity: 0.9;
}

/* Menú */
#menu_nav{

	margin-top: 17px;
	position: absolute;
	right: 0;
	width: 555px;
}

/* Para poner el menú en horizontal */
#menu_nav li{ display: inline-block; }

/* Botón oculto para aparecer el menú */
#pull{ display: none; }

/* Header navigation of slider */
#headernav-outer { 

	position:relative; 
	top: 285px;
	margin:0 auto; 
	width: 99%; 
}

#headernav { padding-left:20px; }

/* Controles del slider */
#back{ 

	background-image:url("../images/btn_back.png");
	float: left;
}

#next{

	float: right;
	background-image:url("../images/btn_next.png"); 
}

/* Botón para ir hacia abajo */
#div_abajo{

	height: 80px;
	margin-left: -20px;
}

/* Listado de cartelera */
#cartelera{

	padding: 5px;
	padding-left: 50px;
	width: 100%;
	position: absolute;
	top: 590px;
	left: 0px;
	height: 600px;
	background-color: #f2efef;
}

/* Título de la cartelera */
#cartelera h3{

	color: #B2B2B2;
	margin-left: 30px;	
}

/* Lista de próximamente */
#proximamente{
	background-color: #E6E6E6;
	padding: 5px;
	padding-left: 50px;
	width: 100%;
	position: absolute;
	top: 1190px;
	left: 0px;
	height: 650px;

}

/* Título de próximamente */
#proximamente h3{

	color: #B2B2B2;
	margin-left: 30px;
}

/* Buscador */
#buscador{ padding-right: 15px; }

/* Input del buscador */
#search input[type="text"] {

	outline: none;
    background:   url(../images/busca.png) no-repeat 10px 6px #f2efef;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #f2efef;
    opacity: 0.9
    font-size: 13px;
    color: #f2efef;
    width: 160px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

/* Focus del buscador */
#search input[type="text"]:focus {
    width: 173px;
}

/* Footer */
#foot{
  width: 100%;
  position:absolute;
  top:1760px;
  height: 66px;
  padding: 3px;
  
}

#foot a{

  position: relative;
  top: 16px;
  color: #999999;
  padding-right:18px;
  float: right;
}

#foot a:hover{

  color: #66cccc;
  text-decoration: none;
}


/* ************************************************************************************************
                                            RESPONSIVE
************************************************************************************************ */

/*TABLET:Cuando la anchura de la ventana contenga como máximo 700px se cambia el diseño */
@media all and (max-width: 768px){

	nav ul {

       display: none;
       height: auto;
    }

    /*Después de aparecer el menú, aparece el icono */
    nav a#pull:after {

        content: "";
        background: url('../img/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
    }

    /* Footer */
	footer{

		display: none;
		background: none;
	}

	footer a{ display: none; }

	.imgLogo{ content:url("../images/logotxiki_gris.png"); }

	.slider{ display: none; }

	/* Imágen de la película */
	.peli{ margin: 10px; }

	.infoUser{ font-size: 5px; }

	/* Redes sociales */
	.red{ display: none; }

	#div_abajo{ display: none; }

	#btn_abajo{ display: none; }

	/* Encabezado ************************************/
	#header{
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		display: block;
		background-color: #f2efef;
	}
	
	#logo{ padding-left: 10px; }

	/* Menú */
	#menu_nav {
		margin-top: 0px;
		padding-left: 20px;
		background-color: #c6c5c5;
		width: 100%; /* Ocupa toda la pantalla */
	}

	/* Item de las listas desordenadas */
	#menu_nav li{

		padding: 7px;
		display: block; 
	}

	/* Aparece el botón para desplegar el menú */
    #pull {
        display: block;
        position: absolute;
        right: 15px;
        top: 17px;
    }

    /* Input del buscador */
    #search input[type="text"] {

	    border: 2px solid #f2efef;
	    color: #f2efef;
	}

	#cartelera, #proximamente{

		height: 850px;
		position: relative;
		left: 0px;
		top: 0px;

	}       	

    /* Listado de cartelera */
	#cartelera{

		margin-top: 50px;
		padding: 12px;
		padding-left: 60px;
		width: 100%;
	}

	/* Lista de próximamente */
	#proximamente{

		padding: 12px;
		padding-left: 60px;
		width: 100%;
	}

	/* Títulos */
	#proximamente h3, #cartelera h3{ margin-left: 9px; }

} 

/*SMARTPHONE:Cuando la anchura de la ventana contenga como máximo 399px se cambia el diseño */
@media all  and (max-width: 399px){

	/* Listado de cartelera */
	#cartelera{

		height: 1980px;
		padding: 12px;
		padding-left: 60px;
		width: 100%;
	}

	/* Lista de próximamente */
	#proximamente{
		height: 2000px;
		padding: 12px;
		padding-left: 60px;
		width: 100%;
	}

}