<li>
    <button class="btn btn-info" data-toggle="modal" data-target="#miregistro" 
    style="background-color:#bebebe; border:none; opacity:0.7; padding-left:5px;margin-right:10px;
    outline:none;">Sign in</button> 
</li> <!-- Cierre de la Registro -->
<!-- Item 5, Login --> 
<li>
    <button class="btn btn-info" id="btn_menu" data-toggle="modal" data-target="#milogin" 
    style="background-color:#bebebe; border:none; opacity:0.7;outline:none;">Log in</button>  
</li> <!-- Cierre de la Login -->